@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&display=swap');

$font-playfair: 'Playfair Display', serif;
$font-source: 'Source Sans Pro', sans-serif; 
$altura-header: 20vh;

@mixin boton{
    background-color: #00B2FF;
    color: #FFFFFF;
    font-family: $font-source;
    font-size: 1rem;
    font-weight: 700;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-color: #00B2FF;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}

@mixin titulosInternas{
    font-size: 3.125rem;
    line-height: 60px;
    margin-bottom: 18px;
    margin-top: 8px;
    color: white;
    max-width: 400px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 62.5%; Reset para REMS. 1REM=10px */
}

body{
    background-image: url(../images/fondo-index.jpg);
    background-position: center center;
    background-size: cover;
    font-size: 1rem;
}

p {
    font-family: $font-source;
    font-size: 1rem;
    color: white;
}

h1 {
    font-family: $font-playfair;
}

h2 {
    font-family: $font-source;
}

h3 {
    font-family: $font-playfair
}

header{
    display: flex;
    height: $altura-header/2;
    justify-content: space-between;
    align-items: center;

        .logo{
            width: 110px;
            margin-left: 100px;
        }

            .padreNav{
                list-style-type: none;
                display: flex;
                margin-right: 100px;

                &__item{
                    display: flex;
                    justify-content: space-between;
                    margin-right: 70px;

                    a{
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 1rem;
                        font-weight: 700;
                        text-decoration: none;
                        color: white;
                    }
                }
            }   
            .padreNav li a:hover{
                color: #00B2FF;
            }
}

/*Main*/

main{
    height: 90vh;
    width: 100vw;
    
        section.contenidoIndex{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            height: 90vh;
        }
    
        .contIndexUno{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            
            &__img{
                width: 34.375rem;
                position: relative;
                margin-top: 0px;
                z-index: 1; 
            }
        }
        
        .contIndexDos{
            max-width: 420px;
            display: flex;
            flex-direction: column;
            margin-left: 150px;
            padding-top: 90px;
        
            &__exploracion{
            font-size: 5rem;
            line-height: 90px;
            margin-bottom: 18px;
            margin-top: 8px;
            color: white;
            }
        
            &__futuro{
                font-size: 1rem;
                color: white;
                font-weight: 700;
                font-style: italic;
            }
        
            p{
                margin-bottom: 30px;
                color: white; 
            }
        
            &__boton{
                @include boton;
            }
        }
    }




footer{
    height: 5vh;
    position: relative;
    z-index: 2;
    background-color: rgba(39, 39, 39, 0.5);
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    font-size: 0.55rem;

    h2{
        font-family: $font-source;
        font-weight: 700;
        font-size: 0.9rem;
        margin-bottom: 0px;
    }

    .direccion{
        margin-left: 100px;
    }

    div{
        .navFooter{
            display: flex;
            list-style-type: none;
            margin-right: 120px;
            margin-bottom: 0px;
                
            &__item{
                margin-left: 30px;
            }
        }
        
    }
}

// Interna nosotros

section.alturaSeccion{
    height: 85vh;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;

    .sobreNosotros{
        margin-left: 100px;
        &__titulo{
            font-size: 3.125rem;
            line-height: 60px;
            margin-bottom: 18px;
            margin-top: 8px;
            color: white;
            max-width: 300px;
        }
        &__parrafo{
            max-width: 420px;
            margin-bottom: 15px;
        }
        &__boton{
            @include boton;
            margin-top: 10px;
        }
    }

    .videoNosotros iframe{
        width: 700px;
        height: 550px;
        margin-right: 170px;
    }
}

// Interna Noticias

#grilla{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 105vh 5vh;
    grid-template-areas: 
                        "header"
                        "section"
                        "footer"
                        ;
}

.headerGrids{
    grid-area: header;
}

.gridsNav{
    list-style-type: none;
    display: flex;
    margin-right: 100px;

    &__item{
        display: flex;
        justify-content: space-between;
        margin-right: 70px;

        a{
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 1rem;
            font-weight: 700;
            text-decoration: none;
            color: white;

            &:hover{
                color: #00B2FF;
            }
        }
    }
}


.sectionGrids{
    grid-area: section;
    display: flex;
    flex-direction: column;
    margin: 20px 165px 20px 100px;

    &__titulo{
        font-size: 3.125rem;
        line-height: 60px;
        margin-bottom: 18px;
        margin-top: 8px;
        color: white;
        max-width: 400px;
    }

    &__boton{
        width: 15%;
        height: 45px;
        align-self: center;
        color: white;
        background-color: rgba(29, 29, 29, 0);
        border: solid 2px white;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1rem;
        font-weight: 700;
        border-radius: 10px;
        cursor: pointer;

        &:hover{
            background-color: rgba(255, 255, 255, 0.2);
            border: solid 2px white;
        }
    }
}

.cards{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 50px;

    &__card{
        background-color: rgba(29, 29, 29, 0.8);
        flex-basis: calc(33.3% - 2rem);
        text-align: center;
        border-radius: 20px;
        transform: scale(1,1);
        cursor: pointer;

        &:hover{
            background-color: rgba(59, 59, 59, 0.8);
            transform: scale(1.05,1.05);
        }

        & a{
            text-decoration: none;
            color: white;
        }

        & img{
            max-width: 100%;
            height: auto;
            border-radius: 20px 20px 0 0;
        }

        & h3{
            color: white;
            padding-top: 20px;
        }

        & p{
            padding: 10px 30px 30px 30px;
        }
    }
}

.footerGrids{
    background-color: rgba(39, 39, 39, 0.5);
    grid-area: footer;
    position: relative;
    z-index: 2;
    display: flex;
    color: white;
    justify-content: space-between;
    font-size: 0.55rem;

    ul.navfooter{
        @extend .padreNav;
        margin-right: 0px;
        margin-bottom: 0px;

        &__item{
            margin-left: 0px;
        }
    }

    .sociales{
        margin-right: 40px;
    }
}

// Interna Galería

div.grillaGaleria{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 85vh 5vh;
        grid-template-areas: 
                            "header"
                            "section"
                            "footer"
                            ;
    }

    header{
        .headerGrids{
            grid-area: header;
        }
        ul.gridsNav{
            list-style-type: none;
            display: flex;
            margin-right: 100px;
        }
        .gridsNav li{
            display: flex;
            justify-content: space-between;
            margin-right: 70px;
        }
        
        .gridsNav li a{
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 1rem;
            font-weight: 700;
            text-decoration: none;
            color: white;
        }
        
        .gridsNav li a:hover{
            color: #00B2FF;
        }
    }

    section.sectionGrids{
        h1{
            @include titulosInternas;
        }

        .contenedorCarrusel{
            width: 50%;
            height: 600px;
            padding-top: 5px;
            display: flex;
            align-self: center;
        }
        
        .carousel-inner{
            border: 2px solid white;
            border-radius: 10px;
        }
        
        footer{ 
            .footerGrids{
                background-color: rgba(39, 39, 39, 0.5);
                grid-area: footer;
                position: relative;
                z-index: 2;
                display: flex;
                color: white;
                justify-content: space-between;
                align-items: center;
                font-size: 0.55rem;
            }
        }
    }
    .navFooter{
        display: flex;
        list-style-type: none;
        justify-content: center;
        align-content: center;
    }

    ul.navFooter{
        margin: 0px;
    }
    
    ul.navFooter li{
        margin: 0px;
        padding: 10px;
        
    }

    // Interna Contacto

div.grillaContacto{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 85vh 5vh;
    grid-template-areas: 
                        "header"
                        "section"
                        "footer"
                        ;
}

.contenidoContacto{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 90px;

    div{
        img.imgFormulario{
            width: 34.375rem;
        }
    }

    div.contenedorFormulario{
        display: flex;
        flex-direction: column;
        width: 24%;
        margin-left: 130px;

        h1{
            @include titulosInternas;
        }

        div{
            form{
                background: rgb(39,39,39);
                background: linear-gradient(150deg, rgba(39,39,39,1) 0%, rgba(39,39,39,0.5214286398153012) 100%);
                border-radius: 10px;
                width: 100%;
                height: 515px;
                padding: 30px 0px 3px 15px;
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 0.938rem;

                label{
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 1rem;
                    font-weight: 400;
                    color: white;
                    padding-left: 15px;
                }
                input.input{
                    background-color: rgba(43, 43, 43, 0);
                    border: 2px solid rgba(255, 255, 255, 0.4);
                    border-radius: 10px;
                    width: 85%;
                    height: 35px;
                    color: white;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 0.938rem;
                    padding-left: 15px;
                    margin: 10px 0 15px 15px;
                }
                select.input{
                    background-color: rgba(43, 43, 43, 0);
                    border: 2px solid rgba(255, 255, 255, 0.4);
                    border-radius: 10px;
                    width: 85%;
                    height: 35px;
                    color: white;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 0.938rem;
                    padding-left: 15px;
                    margin: 10px 0 15px 15px;

                    option.option{
                        background-color: rgb(43, 43, 43);
                        color: #FFFFFF; 
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 0.938rem;
                        font-weight: 400;;
                    }
                }
                textarea.textArea{
                    background-color: rgba(43, 43, 43, 0);
                    border: 2px solid rgba(255, 255, 255, 0.4);
                    border-radius: 10px;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 0.938rem;
                    width: 85%;
                    height: 90px;
                    color: white;
                    padding: 10px 0px 10px 15px;
                    margin: 10px 0px 15px 15px;
                }
                input.checkbox{
                    margin-left: 15px;
                }
                input.botonEnviar{
                    background-color: #00B2FF;
                    color: #FFFFFF;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 1rem;
                    font-weight: 700;
                    width: 160px;
                    height: 35px;
                    border-radius: 5px;
                    border-style: solid;
                    border-color: #00B2FF;
                    line-height: 20px;
                    margin-right: 10px;
                    
                    cursor: pointer;

                    &:hover{
                        background-color: #3ac4ff;
                        border-color: #3ac4ff;
                    }
                }
                input.botonBorrarDatos{
                    background-color: rgba(255, 255, 255, 0);
                    color: #FFFFFF;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 1rem;
                    font-weight: 400;
                    width: 160px;
                    height: 35px;
                    border-radius: 5px;
                    border: 2px solid rgba(255, 255, 255, 0.4);
                    margin-left: 0px;
                    cursor: pointer;

                    &:hover{
                        background-color: rgba(255, 255, 255, 0.2);
                        border: 2px solid rgba(255, 255, 255, 0.7);
                    }
                }
                div.btn_form{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-content: center;
                    align-items: center;
                    margin-top: 20px;
                }

                .terminos{
                    padding-left: 2px;
                }
            }
        }
    }
}

@media only screen and (max-width: 375px){

    body{
        height: 100vh;
    }

    header{
        display: flex;
        flex-direction: column;
        height: 35vh;
        justify-content: center;
        padding-top: 50px;

        .logo{
            width: 100px;
            margin: 0px;
        }
    }
    ul.padreNav{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px 0 auto;
        padding: 0px;

        & li{
            display: flex;
            justify-content: space-between;
            margin: 10px 0px 0px 0px;

            & a{
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 1rem;
                font-weight: 700;
                text-decoration: none;
                color: white;

                &:hover{
                    color: #00B2FF;
                }
            }
        }
    }

    /* INDEX - Main, Img, texto y botón */

    main{
        height: 130vh;

        section.contenidoIndex{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            height: 130vh;

            .contIndexUno{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                &__img{
                    width: 320px;
                    position: relative;
                    margin-top: 85px;
                    z-index: 1;  
                }
            }
        }
    }

    div.contIndexDos{
        max-width: 290px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 50px;
        margin: 0 0 0 40px;

        & h1{
            font-size: 2.813rem;
            line-height: 55px;
            margin: 0 0 10px 0;
            color: white;
        }
        
        & h2{
            font-size: 1rem;
            color: white;
        }
        
        & p{
            margin-bottom: 20px;
            color: white;
            font-size: 0.875rem;
        }
        
        & button{
            background-color: #00B2FF;
            color: #FFFFFF;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 1rem;
            font-weight: 700;
            width: 120px;
            height: 40px;
            border-radius: 5px;
            border-style: solid;
            border-color: #00B2FF;
            line-height: 30px;
            text-align: center;
            cursor: pointer;

            &:hover{
                background-color: #3ac4ff;
                border-color: #3ac4ff;
            }
        }
    }

    footer{
        width: 100%;
        height: 15vh;
        position: relative;
        z-index: 2;
        background-color: rgba(39, 39, 39, 0.5);
        display: flex;
        color: white;
        flex-flow: column wrap;
        font-size: 0.55rem;
        align-items: center;
        justify-content: space-evenly;
        font-weight: 400;

        .direccion{
            margin-left: 0px;
        }

        ul.navFooter{
            display: flex;
            list-style-type: none;
            justify-content: center;
            align-content: center;
            margin-right: 0px;
            padding: 0px;

            & li{
                margin: 0px;
                padding: 10px;
            }
        }
    }

    // Nosotros

    section.alturaSeccion{
        height: 180vh;
        padding-top: 50px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    
        .sobreNosotros{
            margin: 0 0 60px 40px;
            &__titulo{
                font-size: 3.125rem;
                line-height: 60px;
                margin-bottom: 18px;
                margin-top: 8px;
                color: white;
                max-width: 300px;
            }
            &__parrafo{
                max-width: 270px;
                margin-bottom: 0px;
            }
            &__boton{
                @include boton;
                margin-top: 10px;
            }
        }
    
        .videoNosotros iframe{
            width: 300px;
            height: 300px;
            margin: 0px 0 0 25px;
        }
    }

    // Noticias

    #grilla{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 35vh 245vh 15vh;
        grid-template-areas: 
                            "header"
                            "section"
                            "footer"
                            ;
    }


    .headerGrids{
        grid-area: header;
        padding-top: 50px;

        a.logo{
            width: 100px;
            margin: 0px;
        }

        nav{
            margin: 0;
            padding: 0;
            
            .gridsNav{
                list-style-type: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 10px 0 0 0;
                padding: 0;
            
                &__item{
                    display: flex;
                    justify-content: space-between;
                    margin: 10px 0px 0px 0px;
                    
                    a{
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 1rem;
                        font-weight: 700;
                        text-decoration: none;
                        color: white;
            
                        &:hover{
                            color: #00B2FF;
                        }
                    }
                }
            }
        }
    }

    .sectionGrids{
        grid-area: section;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0px 20px 0px;
    
        &__titulo{
            font-size: 3.125rem;
            line-height: 60px;
            margin: 0 0 20px 40px;
            color: white;
            max-width: 400px;
        }
    
        &__boton{
            width: 40%;
            height: 45px;
            align-self: center;
            color: white;
            background-color: rgba(29, 29, 29, 0);
            border: solid 2px white;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 1rem;
            font-weight: 700;
            border-radius: 10px;
            cursor: pointer;
    
            &:hover{
                background-color: rgba(255, 255, 255, 0.2);
                border: solid 2px white;
            }
        }
    }
    
    .cards{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 50px;
        max-width: 80%;
    
        &__card{
            background-color: rgba(29, 29, 29, 0.8);
            margin-bottom: 20px;
            text-align: center;
            border-radius: 20px;
            transform: scale(1,1);
            cursor: pointer;
    
            &:hover{
                background-color: rgba(59, 59, 59, 0.8);
                transform: scale(1.05,1.05);
            }
    
            & a{
                text-decoration: none;
                color: white;
            }
    
            & img{
                max-width: 100%;
                height: auto;
                border-radius: 20px 20px 0 0;
            }
    
            & h3{
                color: white;
                padding-top: 20px;
            }
    
            & p{
                padding: 10px 30px 30px 30px;
                font-size: 0.875rem;
            }
        }
    }

    .footerGrids{
        background-color: rgba(39, 39, 39, 0.5);
        grid-area: footer;
        position: relative;
        z-index: 2;
        display: flex;
        color: white;
        justify-content: space-between;
        align-items: center;
        font-size: 0.55rem;

        ul{
            .navFooter{
                margin-right: 170px;
                margin-bottom: 0px;
            }
        }
    }

    // Galería

    div.grillaGaleria{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 35vh 80vh 15vh;
        grid-template-areas: 
                            "header"
                            "section"
                            "footer"
                            ;
    }

    .headerGrids{
        grid-area: header;
        a.logo{
            width: 100px;
            margin: 0px;
        }
    }

    

    section.sectionGrids{
        grid-area: section;

        h1{
            @include titulosInternas;
            margin-left: 30px;
        }

        .contenedorCarrusel{
            width: 90%;
            height: 600px;
            padding-top: 60px;
            display: flex;
            align-self: center;
        }
        
        .carousel-inner{
            border: 2px solid white;
            border-radius: 10px;
        }
    }

    // Contacto

    div.grillaContacto{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40vh 145vh 15vh;
        grid-template-areas: 
                            "header"
                            "section"
                            "footer"
                            ;
    }

    .headerGrids{
        grid-area: header;
        .logo{
            width: 100px;
            margin: 0px;
        }
    }

    .contenidoContacto{
        width: 100%;
        display: flex;
        grid-area: section;
        flex-direction: column-reverse;
        align-items: center;
        margin:0;
        padding: 0;
    
        div{
            img.imgFormulario{
                width: 300px;
                margin-bottom: 10px;
            }
        }
    
        div.contenedorFormulario{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            margin-left: 0px;
    
            h1{
                @include titulosInternas;
            }
    
            div{
                display: flex;

                form{
                    background: rgb(39,39,39);
                    background: linear-gradient(150deg, rgba(39,39,39,1) 0%, rgba(39,39,39,0.5214286398153012) 100%);
                    border-radius: 10px;
                    width: 100%;
                    height: 550px;
                    padding: 30px 15px 3px 15px;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 0.938rem;
                    margin: 0 0 20px 0;
    
                    label{
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 0.875rem;
                        font-weight: 400;
                        color: white;
                        padding-left: 15px;
                    }
                    input.input{
                        background-color: rgba(43, 43, 43, 0);
                        border: 2px solid rgba(255, 255, 255, 0.4);
                        border-radius: 10px;
                        width: 85%;
                        height: 35px;
                        color: white;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 0.938rem;
                        padding-left: 15px;
                        margin: 10px 0 15px 15px;
                    }
                    select.input{
                        background-color: rgba(43, 43, 43, 0);
                        border: 2px solid rgba(255, 255, 255, 0.4);
                        border-radius: 10px;
                        width: 85%;
                        height: 35px;
                        color: white;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 0.938rem;
                        padding-left: 15px;
                        margin: 10px 0 15px 15px;
    
                        option.option{
                            background-color: rgb(43, 43, 43);
                            color: #FFFFFF; 
                            font-family: 'Source Sans Pro', sans-serif;
                            font-size: 0.938rem;
                            font-weight: 400;;
                        }
                    }
                    textarea.textArea{
                        background-color: rgba(43, 43, 43, 0);
                        border: 2px solid rgba(255, 255, 255, 0.4);
                        border-radius: 10px;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 0.938rem;
                        width: 85%;
                        height: 90px;
                        color: white;
                        padding: 10px 0px 10px 15px;
                        margin: 10px 0px 15px 15px;
                    }
                    input.checkbox{
                        margin-left: 15px;
                    }
                    input.botonEnviar{
                        background-color: #00B2FF;
                        color: #FFFFFF;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 1rem;
                        font-weight: 700;
                        width: 160px;
                        height: 35px;
                        border-radius: 5px;
                        border-style: solid;
                        border-color: #00B2FF;
                        line-height: 20px;
                        margin:5px 0px 10px 0px;
                        cursor: pointer;
    
                        &:hover{
                            background-color: #3ac4ff;
                            border-color: #3ac4ff;
                        }
                    }
                    input.botonBorrarDatos{
                        background-color: rgba(255, 255, 255, 0);
                        color: #FFFFFF;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 1rem;
                        font-weight: 400;
                        width: 160px;
                        height: 35px;
                        border-radius: 5px;
                        border: 2px solid rgba(255, 255, 255, 0.4);
                        margin-left: 0px;
                        cursor: pointer;
    
                        &:hover{
                            background-color: rgba(255, 255, 255, 0.2);
                            border: 2px solid rgba(255, 255, 255, 0.7);
                        }
                    }
                    
                    div.btn_form{
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        align-content: center;
                        align-items: center;
                    }

                    .terminos{
                        padding-left: 2px;
                    }
                    
                }
            }
        }
    }
}

// Queries 1366

@media only screen and (min-width: 769px) and (max-width: 1400px){
    
    // Index

    header{
        display: flex;
        height: $altura-header/2;
        justify-content: space-between;
        align-content: center;
    
            .logo{
                width: 110px;
                margin-left: 100px;
            }
    
                .padreNav{
                    list-style-type: none;
                    display: flex;
                    margin-right: 100px;
                    margin-bottom: 0px;
    
                    &__item{
                        display: flex;
                        justify-content: space-between;
                        margin-right: 70px;
    
                        a{
                            font-family: 'Source Sans Pro', sans-serif;
                            font-size: 1rem;
                            font-weight: 700;
                            text-decoration: none;
                            color: white;
                        }
                    }
                }   
                .padreNav li a:hover{
                    color: #00B2FF;
                }
    }
    
    /*Main*/
    
    main{
        height: 85vh;
        width: 100vw;
        
            section.contenidoIndex{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                height: 90vh;
            }
        
            .contIndexUno{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                
                &__img{
                    width: 31.25rem;
                    position: relative;
                    margin-top: 0px;
                    z-index: 1; 
                }
            }
            
            .contIndexDos{
                max-width: 420px;
                display: flex;
                flex-direction: column;
                margin-left: 150px;
                padding-top: 110px;
            
                &__exploracion{
                font-size: 5rem;
                line-height: 90px;
                margin-bottom: 18px;
                margin-top: 8px;
                color: white;
                }
            
                &__futuro{
                    font-size: 1rem;
                    color: white;
                    font-weight: 700;
                    font-style: italic;
                }
            
                p{
                    margin-bottom: 30px;
                    color: white; 
                }
            
                &__boton{
                    @include boton;
                }
            }
        }
    
    
    
    
    footer{
        height: 5vh;
        position: relative;
        z-index: 2;
        background-color: rgba(39, 39, 39, 0.5);
        display: flex;
        color: white;
        justify-content: space-between;
        align-items: center;
        align-items: center;
        font-size: 0.55rem;
    
        h2{
            font-family: $font-source;
            font-weight: 700;
            font-size: 0.9rem;
            margin-bottom: 0px;
        }
    
        .direccion{
            margin-left: 100px;
        }
    
        div{
            .navFooter{
                display: flex;
                list-style-type: none;
                margin-right: 170px;
                margin-bottom: 0px;
                    
                &__item{
                    margin-left: 30px;
                }
            }
            
        }
    }

    // Interna nosotros

    section.alturaSeccion{
        height: 85vh;
        padding-top: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .sobreNosotros{
            margin-left: 100px;
            &__titulo{
                font-size: 3.125rem;
                line-height: 60px;
                margin-bottom: 18px;
                margin-top: 8px;
                color: white;
                max-width: 300px;
            }
            &__parrafo{
                max-width: 420px;
                margin-bottom: 15px;
            }
            &__boton{
                @include boton;
                margin-top: 10px;
            }
        }

        .videoNosotros iframe{
            width: 600px;
            height: 400px;
            margin-right: 170px;
        }
    }

    // Interna Noticias

    #grilla{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10vh 100vh 5vh;
        grid-template-areas: 
                            "header"
                            "section"
                            "footer"
                            ;
    }

    .headerGrids{
        grid-area: header;
    }

    .gridsNav{
        list-style-type: none;
        display: flex;
        margin-right: 100px;

        &__item{
            display: flex;
            justify-content: space-between;
            margin-right: 70px;

            a{
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 1rem;
                font-weight: 700;
                text-decoration: none;
                color: white;

                &:hover{
                    color: #00B2FF;
                }
            }
        }
    }


    .sectionGrids{
        grid-area: section;
        display: flex;
        flex-direction: column;
        margin: 20px 165px 20px 100px;

        &__titulo{
            font-size: 3.125rem;
            line-height: 60px;
            margin-bottom: 18px;
            margin-top: 8px;
            color: white;
            max-width: 400px;
        }

        &__boton{
            width: 15%;
            height: 45px;
            align-self: center;
            color: white;
            background-color: rgba(29, 29, 29, 0);
            border: solid 2px white;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 1rem;
            font-weight: 700;
            border-radius: 10px;
            cursor: pointer;

            &:hover{
                background-color: rgba(255, 255, 255, 0.2);
                border: solid 2px white;
            }
        }
    }

    .cards{
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin-top: 20px;
        margin-bottom: 50px;

        &__card{
            background-color: rgba(29, 29, 29, 0.8);
            flex-basis: calc(33.3% - 2rem);
            text-align: center;
            border-radius: 20px;
            transform: scale(1,1);
            cursor: pointer;

            &:hover{
                background-color: rgba(59, 59, 59, 0.8);
                transform: scale(1.05,1.05);
            }

            & a{
                text-decoration: none;
                color: white;
            }

            & img{
                max-width: 100%;
                height: auto;
                border-radius: 20px 20px 0 0;
            }

            & h3{
                color: white;
                padding-top: 20px;
            }

            & p{
                padding: 10px 30px 30px 30px;
            }
        }
    }

    .footerGrids{
        background-color: rgba(39, 39, 39, 0.5);
        grid-area: footer;
        position: relative;
        z-index: 2;
        display: flex;
        color: white;
        justify-content: space-between;
        align-items: center;
        font-size: 0.55rem;

        ul.navfooter{
            list-style-type: none;
            display: flex;
            margin-right: 100px;
            margin-right: 170px;
            margin-bottom: 0px;

            &__item{
                margin-left: 30px;
            }
        }
    }

    // Interna Contacto

    div.grillaContacto{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10vh 85vh 5vh;
        grid-template-areas: 
                            "header"
                            "section"
                            "footer"
                            ;
    }

    .contenidoContacto{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-left: 90px;

        div{
            img.imgFormulario{
                width: 500px;
            }
        }

        div.contenedorFormulario{
            display: flex;
            flex-direction: column;
            width: 30%;
            margin-left: 160px;

            h1{
                @include titulosInternas;
            }

            div{
                form{
                    background: rgb(39,39,39);
                    background: linear-gradient(150deg, rgba(39,39,39,1) 0%, rgba(39,39,39,0.5214286398153012) 100%);
                    border-radius: 10px;
                    width: 100%;
                    height: 515px;
                    padding: 30px 0px 3px 15px;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 0.938rem;

                    label{
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 1rem;
                        font-weight: 400;
                        color: white;
                        padding-left: 15px;
                    }
                    input.input{
                        background-color: rgba(43, 43, 43, 0);
                        border: 2px solid rgba(255, 255, 255, 0.4);
                        border-radius: 10px;
                        width: 85%;
                        height: 35px;
                        color: white;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 0.938rem;
                        padding-left: 15px;
                        margin: 10px 0 15px 15px;
                    }
                    select.input{
                        background-color: rgba(43, 43, 43, 0);
                        border: 2px solid rgba(255, 255, 255, 0.4);
                        border-radius: 10px;
                        width: 85%;
                        height: 35px;
                        color: white;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 0.938rem;
                        padding-left: 15px;
                        margin: 10px 0 15px 15px;

                        option.option{
                            background-color: rgb(43, 43, 43);
                            color: #FFFFFF; 
                            font-family: 'Source Sans Pro', sans-serif;
                            font-size: 0.938rem;
                            font-weight: 400;;
                        }
                    }
                    textarea.textArea{
                        background-color: rgba(43, 43, 43, 0);
                        border: 2px solid rgba(255, 255, 255, 0.4);
                        border-radius: 10px;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 0.938rem;
                        width: 85%;
                        height: 90px;
                        color: white;
                        padding: 10px 0px 10px 15px;
                        margin: 10px 0px 15px 15px;
                    }
                    input.checkbox{
                        margin-left: 15px;
                    }
                    input.botonEnviar{
                        background-color: #00B2FF;
                        color: #FFFFFF;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 1rem;
                        font-weight: 700;
                        width: 160px;
                        height: 35px;
                        border-radius: 5px;
                        border-style: solid;
                        border-color: #00B2FF;
                        line-height: 20px;
                        margin:0px 2px 0px 0px;
                        cursor: pointer;

                        &:hover{
                            background-color: #3ac4ff;
                            border-color: #3ac4ff;
                        }
                    }
                    input.botonBorrarDatos{
                        background-color: rgba(255, 255, 255, 0);
                        color: #FFFFFF;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 1rem;
                        font-weight: 400;
                        width: 160px;
                        height: 35px;
                        border-radius: 5px;
                        border: 2px solid rgba(255, 255, 255, 0.4);
                        margin-left: 0px;
                        cursor: pointer;

                        &:hover{
                            background-color: rgba(255, 255, 255, 0.2);
                            border: 2px solid rgba(255, 255, 255, 0.7);
                        }
                    }
                    div.btn_form{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        align-content: center;
                        align-items: center;
                    }

                    .terminos{
                        padding-left: 2px;
                    }
                }
            }
        }
    }

}

@media only screen and (min-width: 379px) and (max-width: 768px){




}




